# SPDX-FileCopyrightText: 2025 Timo Koch
# SPDX-License-Identifier: CC0-1.0

name: Test install and compile
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        build_type: [Release]
        c_compiler: [gcc, clang]
        exclude:
          - os: macos-latest
            c_compiler: gcc

    steps:
    - uses: actions/checkout@v4
      with:
        path: "dumux-braindiffusion-miniapp"

    - name: ⚙️ Apt Install SuiteSparse MPI
      run: sudo apt-get install -y libsuitesparse-dev libopenmpi-dev
      if: matrix.os == 'ubuntu-latest'

    - name: ⚙️ Brew Install SuiteSparse MPI
      run: brew install suite-sparse openmpi
      if: matrix.os == 'macos-latest'

    - name: ⚙️ Dependencies and Configure and Build
      run: ./dumux-braindiffusion-miniapp/setup.sh

    - name: ⚙️ Test compilation
      run: make braindiffusion_test_compile
      working-directory: dumux-braindiffusion-miniapp/build-cmake/app
